
figcaption {
    opacity: 50%;
}

figcaption a {
    text-decoration: none;

}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vw; */
    margin: 10px;
    padding: 10px;

}

.search-box input {
    border-radius: 10px;
    height: 5vh;
    width: 40vw;
    background-color: var(--bg03);
    border: none;
    color: var(--bg06);
}

.search-box input:focus {

    color: var(--bg03);
    background-color: var(--bg06);
    font-size: 20px;
    padding: 5px;


}

.search-box button {
    border-radius: 10px;
    height: 5vh;
    width: 5vw;
    margin-left: 5px;
    background-color: var(--bg03);
    border: none;
    color: var(--bg06);
}

.search-box button:hover {
    color: var(--bg03);
    background-color: var(--bg06);
}

.li-img {
    background: url(./../../assets/li01.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
}


.recipe-list {
    display: flex;
    color: var(--bg06);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding: 5%;
    margin: 5%;
    /* width: 90%; */
}

.recipe-item {
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 2px var(--bg03);


}
.recipe-item:hover  {
    box-shadow: 1px 1px 3px 2px var(--bg06);
    opacity: 60%;
}

.recipe-item img {
    border-radius: 10px;
}

.recipe-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}