<app-nav></app-nav>
<div class="about-container">
    <div class="about-img"></div>
    <div class="about-content">
        <div><h1>Welcome</h1></div>

        <div class="about-welcome">
            <div class="welcome-img"></div>
            <div class="welcome-content">        Welcome to FR.com, your go-to destination for culinary inspiration and delectable recipes! Our About Page is here to give you a sneak peek into who we are and what you can expect from our delightful corner of the culinary world.
            </div>
        </div>
        <hr>
        <div><h1>Who we are ?</h1></div>

        <div class="about-who">
            <div class="who-content">At FR.com, we're passionate about food and cooking. We're a team of dedicated food enthusiasts, home cooks, and professional chefs who share a common love for creating and sharing mouthwatering recipes. We believe that cooking is an art, a science, and a form of self-expression, and we're here to help you discover your own culinary magic.</div>
            <div class="who-img"></div>
        </div>
        <hr>
        <div><h1>Our Mission</h1></div>

        <div class="about-mission">
            <div class="mission-img"></div>
            <div class="mission-content">        Our mission is simple yet meaningful: to inspire and empower people of all culinary skill levels to explore the joy of cooking and savor the pleasure of delicious meals. We aim to demystify cooking, making it accessible, enjoyable, and rewarding for everyone, from beginners to seasoned chefs.</div>
        </div>
        <hr>
        <div><h1>What do we do ?</h1></div>

        <div class="about-what">
            <div class="what-content">
                <ul>
                    <li>An Extensive Recipe Collection: Explore a diverse range of recipes from all around the world, including appetizers, main courses, desserts, and more. We've got recipes for every occasion, dietary preference, and skill level.
                    </li>
                    <li>Expert Cooking Tips: Learn essential cooking techniques, kitchen hacks, and pro tips from our experienced culinary team.
                    </li>
                    <li>Kitchen Gear Recommendations: Discover our recommendations for must-have kitchen tools and gadgets that can elevate your cooking experience.
                    </li>
                    <li>Culinary Adventures: Join us as we embark on culinary journeys, exploring regional cuisines, food history, and the stories behind our favorite dishes.
                    </li>
                    <li>Community and Interaction: We value your input and love to hear from our fellow food lovers. Feel free to share your thoughts, suggestions, and your own culinary creations with us.
                    </li>
                </ul>    
            </div>
            <div class="what-img"></div>    
        </div>
        <hr>
        <div><h1>One final word</h1></div>

        <div class="about-final">
            <div class="final-img"></div>
            <div class="final-content">
                Join us on this flavorful journey of culinary exploration, and let's create memorable meals together. Whether you're a novice in the kitchen or a seasoned chef, [Your Recipe Website Name] has something to offer you. Happy cooking!
    
                Thank you for visiting our About Page. We look forward to sharing our love for cooking and eating with you. 
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
