<div class="home-container">
    <div class="home-cover-container">
        <figcaption>
            Photo by <a href="https://unsplash.com/@mggbox?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Mgg Vitchakorn</a> on <a href="https://unsplash.com/photos/photo-of-cooked-pasta-on-plate-98Xi5vMGKck?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  
        </figcaption>
        <div class="home-cover-heading">
            <h1>Food recipes</h1>
        </div>
    </div>
    <!-- <hr> -->
    <div class="home-healthy">
        <div class="home-healthy-img">
            <!-- <img src="./../../assets/p01.jpg" > -->
        </div>
        <div class="home-healthy-content">
            <div class="home-healthy-content-heading">
                <h1>Browse by Meal</h1>
            </div>
            <div class="home-healthy-content-text">
                <p>
                    Healthy recipes are dishes that are not only delicious but also made with ingredients and cooking methods that promote good health. They typically focus on using fresh, whole, and nutrient-dense ingredients while minimizing unhealthy components such as excessive sugar, saturated fats, and processed foods.
                    Healthy foods are essential for maintaining good health and well-being. They provide the body with essential nutrients, vitamins, minerals, and energy without excessive amounts of unhealthy components like added sugars, saturated fats, or excessive calories.
                    <a href="./list">More</a>
                </p>
                <div class="home-meals">
                    <div class="breakfast">
                        <span>
                            <p>Breakfast</p>
                        </span>
                        <div class="breakfast-img">
                            
                            <!-- <figcaption>
                                Photo by <a href="https://unsplash.com/@benkolde?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ben Kolde</a> on <a href="https://unsplash.com/photos/bread-with-sunny-side-up-egg-served-on-white-ceramic-plate-FFqNATH27EM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                            </figcaption> -->
                        </div>    
                    </div>
                    <div class="lunch">
                        <span>
                            <p>Lunch</p>
                        </span>
                        <div class="lunch-img">
                            <!-- <figcaption>
                                Photo by <a href="https://unsplash.com/@pwign?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Anh Nguyen</a> on <a href="https://unsplash.com/photos/vegetable-and-meat-on-bowl-kcA-c3f_3FE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                            </figcaption> -->
                        </div>    
                    </div>
                    <div class="dinner">
                        <span>
                            <p>Dinner</p>
                        </span>
                        <div class="dinner-img">
                            <!-- <figcaption>
                                Photo by <a href="https://unsplash.com/@allthestories?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Storiès</a> on <a href="https://unsplash.com/photos/vegetable-dish-on-white-ceramic-plate-v1rUvnVMMkM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                            </figcaption> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="home-category">
        <div class="home-category-img">
            <figcaption>
                Photo by <a href="https://unsplash.com/@jiffystyler?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Georg Regauer</a> on <a href="https://unsplash.com/photos/vegetable-salad-on-brown-wooden-tray-qo0qBl6T7R8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </figcaption>
        </div>
        <div class="home-category-content">
            <div class="home-category-content-heading">
                <h1>Browse By ingredients</h1>
            </div>
            <div class="home-category-content-text">
                <p>
                    Healthy recipes are dishes that are not only delicious but also made with ingredients and cooking methods that promote good health. They typically focus on using fresh, whole, and nutrient-dense ingredients while minimizing unhealthy components such as excessive sugar, saturated fats, and processed foods.
                    Healthy foods are essential for maintaining good health and well-being. They provide the body with essential nutrients, vitamins, minerals, and energy without excessive amounts of unhealthy components like added sugars, saturated fats, or excessive calories.
                    <a href="./list">More</a>
                </p>
                <div class="home-meals">
                    <div class="breakfast">
                        <span>
                            <p>Potatoes</p>
                        </span>
                        <div class="breakfast-img v1-img">
                        </div>    
                    </div>
                    <div class="lunch">
                        <span>
                            <p>Carrots</p>
                        </span>
                        <div class="lunch-img v2-img">
                        </div>    
                    </div>
                    <div class="dinner">
                        <span>
                            <p>Brinjal</p>
                        </span>
                        <div class="dinner-img v3-img">
                        </div>
    
                    </div>

                </div>    
            </div>
        </div>
    </div>
<hr>
    <div class="home-team">
        <div class="home-team-img">
            <figcaption>
                Photo by <a href="https://unsplash.com/@lasse_bergqvist?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">lasse bergqvist</a> on <a href="https://unsplash.com/photos/man-preparing-food-TYj7ey6xn9M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </figcaption>
        </div>
        <div class="home-team-content">
            <div class="home-team-content-heading">
                <h1>Browse By Chef</h1>
            </div>
            <div class="home-team-content-text">
                <p>
                    Healthy recipes are dishes that are not only delicious but also made with ingredients and cooking methods that promote good health. They typically focus on using fresh, whole, and nutrient-dense ingredients while minimizing unhealthy components such as excessive sugar, saturated fats, and processed foods.
                    Healthy foods are essential for maintaining good health and well-being. They provide the body with essential nutrients, vitamins, minerals, and energy without excessive amounts of unhealthy components like added sugars, saturated fats, or excessive calories.
                    <a href="./list">More</a>
                </p>
                <div class="home-meals">
                    <div class="breakfast">
                        <span>
                            <p>Chris</p>
                        </span>
                        <div class="breakfast-img t1-img">
                            
                        </div>    
                    </div>
                    <div class="lunch">
                        <span>
                            <p>Danny</p>
                        </span>
                        <div class="lunch-img t2-img">

                        </div>    
                    </div>
                    <div class="dinner">
                        <span>
                            <p>Tom</p>
                        </span>
                        <div class="dinner-img t3-img">
                        </div>
    
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
